@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url('/styles/images/rectangle\ 15.png'), url('/styles/images/banner.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    /* opacity: 0.8; */
    width: 1320px;
    height: 600px;
    margin: 50px auto 0px;
    border-radius: 16px;
}

.header-content>h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 177px;
    padding-bottom: 0;
    margin-bottom: 16px;
}

.header-content>h2 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: auto 344px;
    margin-top: 0;
}

.header-content {
    justify-content: center;
    align-items: center;

}

/* offer section */
.offer-section{
    margin: 120px 259px;
    background-color: #FFF;

}
.offer-section>.offer {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0px;
}

.offer-section>.holiday {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0;
}

.offer-section>.category {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 0;
}
.offer-section>.offer-image{
    margin: 48px auto;
    align-items: center;
    display: flex;
}