@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url('../styles/images/rectangle\ 15.png'), url('../styles/images/banner.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    /* opacity: 0.8; */
    width: 1320px;
    height: 600px;
    margin: 50px auto 0px;
    border-radius: 16px;
}

.header-content>h3 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 177px;
    padding-bottom: 0;
    margin-bottom: 16px;
}

.header-content>h2 {
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: auto 344px;
    margin-top: 0;
}

.header-content {
    justify-content: center;
    align-items: center;

}

/* offer section */
.offer-section {
    margin: 120px 259px;
    background-color: #FFF;
    /* vertical-align: middle; */

}

.offer-section>.offer-sec-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center;
    margin: auto; */
}

.offer-section>.offer-sec-content>.offer {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0;
}

.offer-section>.offer-sec-content>.holiday {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0;
}

.offer-section>.offer-sec-content>.category {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 0;
}

.offer-section>.offer-image {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    margin: 48px auto;
    align-items: center;
    display: flex;
}

/* banner 2 section */
.banner-2 {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../styles/images/Vectorrr.png');
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.banner-2>.banner-2-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.banner-2>.banner-2-content>.yr-2024 {
    background-image: none;
}

.banner-2>.banner-2-content>.text>.welcome {
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

.banner-2>.banner-2-content>.text>.description {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* margin-left: 126px; */
    margin-top: 24px;
    margin-right: 36px;
    /* 166.667% */
}

.banner-2>.banner-2-content>.text>.join {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background: none;
    border: none;
    margin-left: 32px;
    margin-top: 48px;
}

.banner-2>.banner-2-content>.text>.join:hover {
    transform: scale(1.2);
}

/* Venue Section */
.venue {
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    margin: 120px auto;
    padding: aut0;
    vertical-align: middle;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.venue-details {
    margin: auto;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 100px;

}

.venue-details .venue-text .vd-red {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.venue-details>input {
    margin-top: 46px;
    margin-bottom: 110px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.venue>.venue-details>.venue-join:hover {
    transform: scale(1.2);
}

/* best offer section */

.best-offer {
    background: #fff;
    width: 1320px;
    height: max-content;
    margin: 120px auto;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.best-offer>.bo-left>.bo {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.bo-left>.bo-soon {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 22px;

}

.bo-left>.bo-left-description {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0px;
}

.best-offer>.bo-middle {
    width: 463px;
    height: 463px;
    border-radius: 463px;
    border: 15px solid #F00;
    align-items: center;
    justify-content: center;
    display: flex;
}

.bo-middle>.bo-image {
    width: 364.844px;
    height: 364.844px;
    border-radius: 364.844px;
    background: lightgray -91.279px 0px / 150.038% 100% no-repeat;
}

.best-offer>.bo-right>.bor-text {
    align-items: center;
    justify-content: center;
}

.best-offer>.bo-right>.bor-text>.bo-year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 112px;
    margin-bottom: 16px;
}

.best-offer>.bo-right>.bor-text>.bo-rd {
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0;
}

.best-offer>.bo-right>img {
    width: 140px;
    height: 140px;
    margin-top: 43px;
    padding-bottom: 0;
    flex-shrink: 0;
    background-position: bottom left;
}

/* Portfolio section */
.portfolio {
    width: 1320px;
    margin: 120px auto;
    /* background-color: aquamarine; */
}

.portfolio-content {
    width: 1320px;
    margin-bottom: 48px;
    /* background-color: azure; */
}

.portfolio-content>h5 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.portfolio-content>h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 22px;
}

.portfolio-content>.port-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio .port-images {
    margin: 0;
    padding: 0;
}

img {
    width: 424px;
    height: 450px;
    flex-shrink: 0;
}

.portfolio>.port-images>.row1,
.portfolio .port-images>.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 24px;
}

.port-images .row1 {
    margin-top: 0;
    /* margin-bottom: 24px; */
}

.port-images .row2 {
    margin-top: 24px;
    padding: 0;
}

.port:hover {
    transform: scale(1.05);
}

/* Newsletter Section */
.newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    margin: auto;
    margin-bottom: 120px;
    text-align: center;
}

.newsletter>img {
    max-width: 150px;
    height: 150px;
    margin: 80px 585px 40px 585px;
}

.newsletter>.subscribe-nl {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.newsletter>.nl {
    color: rgba(7, 2, 17, 0.60);
    max-width: 896px;
    max-height: 64px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 20px 212px 48px 212px;
}


.newsletter>.mailbox>.mail {
    width: 438px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    border: none;
    outline: none;
    padding-left: 30px;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 0;
}

.newsletter .subs-button {
    position: relative;
    left: -5px;
    width: 210px;
    height: 72px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: auto;
}

.subs-button:hover {
    transform: scale(1.1);
}

/* footer section */
footer {
    max-width: 1600px;
    max-height: 609px;
    flex-shrink: 0;
    /* margin: auto; */
    padding: 120px 140px;
    background: #070211;
}

footer p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.h-upper img {
    width: 24px;
    height: 24px;
}

footer .up-left {
    width: 375px;
    height: 80px;
}

footer>.h-upper {
    display: flex;
    /* margin: auto; */
    justify-content: space-around;
    gap: 559px;
}

footer>.one {
    max-width: 1320px;
    height: 1px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin-top: 50px;
}

footer>.h-upper .up-right-sec {
    display: block;
    justify-content: left;
    /* margin-left: 0; */
}

footer>.h-upper>.up-right-sec .up-right-sec-1 {
    display: flex;
    /* align-items: center; */
    margin-top: 0;
    /* justify-content: center; */
}

footer>.h-upper>.up-right-sec>.up-right-sec-1>.num {
    margin-bottom: 16px;
}

footer>.h-upper>.up-right-sec>.up-right-sec-1>.web {
    margin-top: 0;
}

footer>.h-upper>.up-right-sec .up-right-sec-1>.up-right-1 {
    width: 195px;
    height: 40px;
}

footer>.h-upper>.up-right-sec .up-right-sec-2 {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 0;
}

footer>.h-upper>.up-right-sec .up-right-sec-1>.up-right-2 {
    width: 211px;
    height: 40px;
}

footer>.h-upper>.up-right-sec img {
    margin-right: 16px;
    /* margin-bottom: 16px; */
}

footer>.icons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin: 48px auto;
    align-items: center;
}

footer>.icons img {
    width: 64px;
    height: 64px;
}

footer>.two {
    max-width: 1320px;
    height: 1px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin-bottom: 50px;
}

footer>.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer>.footer-bottom>.footer-left {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

footer>.footer-bottom>.footer-right {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

footer>.footer-bottom>.footer-right:hover {
    transform: scale(1.2);
}

/* bonus-sec */
.bonus-sec {
    width: 1320px;
    /* background-color: aqua; */
    margin: 120px auto;
}

.bonus-sec>.bonus-upper>{
    margin-bottom: 0;
}

.bonus-sec>.bonus-upper>.bup {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.bonus-sec>.bonus-upper>.bmid {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-align: center;
}


.bonus-sec>.bonus-upper .bdown {
    width: 1068px;
    margin: 28px auto 64px;
    text-align: center;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
}
.bonus-sec .bonus-images{
    margin-top: 0;
}

.bonus-sec .bonus-images>.upb{
    background-image: url("../styles/images/rectangle\ 1.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 32%;
}
.bonus-sec .bonus-images>.upb>.box{
    width: 644px;
    height: 100%;
    position: relative;
    bottom: -177px;
}

.bonus-sec>.bonus-images>.upb>.circle {
    width: 206.841px;
    height: 206.841px;
    position: relative;
    top: -70px;
    right: -130px
    /* width: 100% */
}
.bonus-sec>.bonus-images>.low{
    margin-top: 0;
    background-image: url("../styles/images/rectangle\ 2.png");
    width: 1320px;
height: 229px;
flex-shrink: 0;
}